.arrow {
  width: 8px;
  height: 8px;
  z-index: 9998;
  $parent: &;
  &--light {
    &::before {
      background: $inp-bg-light !important;
    }
  }

  &::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: 9997;
    background: $inp-bg-dark;
    content: '';
    transform: rotate(45deg);
    border: 1px solid #8286AB;
  }

  &.arrow-top {
    bottom: -5px;
    &::before {
      border-top: none;
      border-left: none;
    }
  }

  &.arrow-bottom {
    top: -5px;
    &::before {
      border-bottom: none;
      border-right: none;
    }
  }

  &.arrow-left {
    right: -5px;

    &::before {
      border-bottom: none;
      border-left: none;
    }
  }

  &.arrow-right {
    left: -5px;
    &::before {
      border-right: none;
      border-top: none;
    }
  }
}