.interface-settings {
  padding-top: 12px;
  &__title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  &__toggle-label {
    font-size: 14px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}