.header {
  width: 100%;
  padding: 24px 0;
  @include media('>=xSmall', '<medium') {
    padding: 16px;
  }
  $parent: &;
  &--light {
    #{$parent}__link {
      color: $dark;
    }
    #{$parent}__balance {
      background-color: $inp-bg-light;
    }
  }
  &__plate {
    @extend %plate;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    font-size: 18px;
    @extend %title;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    padding: 8px 0;
    position: relative;
    &:not(:last-of-type) {
      margin-right: 24px;
    }
    &:before {
      position: absolute;
      transition: all 0.2s ease-in-out;
      content: '';
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $blue;
      filter: drop-shadow(0 0 2px $blue);
      width: 0;
    }
    &:hover:not(&--active) {
      &::before {
        width: 50%;
      }
    }
    &--active {
      &:before {
        width: 100%;
      }
    }
  }
  &__account {
    display: flex;
    align-items: center;
  }
  &__balance {
    display: flex;
    align-items: center;
    background-color: $inp-bg-dark;
    padding: 8px;
    margin-right: 12px;
  }
  &__b-currency {
    margin-left: 4px;
  }
}